.page__main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  .section {
    display: flex;
    width: 80%;
    .showsList {
      padding-left: 20px;
      padding-right: 20px;
      min-width: 100%;
      background-color: khaki;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;

      .showsListing {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        
        padding: 5px;
        padding-bottom: 15px;
        & h3 {
          color: rgb(243, 67, 205);
        }
        .display-image {
        min-height: 600px;
        width: 300px;
        margin: 10px;
        }
      }
    }
  }
  .aside {
    width: 300px;
    min-height: 93vh;
    background-color: rgb(255, 233, 252);
    .favShows {
      padding: 1.5rem;
      .favShowLi {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 10px;
        background-color: rgb(249, 254, 255);
        border-radius: 5px;

        & h4 {
          font-size: 1.5rem;
          color: rgb(223, 219, 1);
          padding-left: 5%;
        }
        & img {
          max-height: 100px;
        }
      }
    }
  }

  .aside .favShows .hidden {
    visibility: hidden;
  }

  .selectedShow {
    border: 1px solid red;
  }
}
