.page__main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  max-width: 1200px;
  overflow-x: hidden;
  
  .section {
    display: flex;
    width: 80%;

    .showsList {
      min-width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(5, 380px);

      .showsListing {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        padding: 5px;
        padding-bottom: 10px;
        
        & h3 {
          font-weight: lighter;
          color: $colorDefaultLight1;
          padding-top: 1.2rem;
        }
        & img {
          border-radius: 15px;
        }
      }
    }
  }
  .aside {
    min-width: 270px;
    min-height: 93vh;
    background-color: rgba(245, 245, 245, 0.288);
    border-radius: 15px;
    border-right: 0.5px solid rgb(255, 255, 255);
    padding: 2rem;
    padding-right: 1rem;

    & h2 {
      font-size: 1.2rem;
      font-weight: lighter;
      padding-bottom: 1.5rem;
      color: rgb(69, 69, 73);
    }
    .heart {
      font-size: 1.4rem;
      padding-left: 0.5rem;
      color: rgb(250, 225, 6);
    }
    .favShows {
      
      .favShowLi {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 15px;
        border-radius: 5px;
        height: 80px;

        & h4 {
          font-size: 1.2rem;
          font-weight: 100;
          color: $colorDefaultDark2;
          padding-left: 7%;
          width: 140px;
        }
        .favShowImg {
          height: 90px;
        }
        .deleteButton {
          background-color: rgba(0, 0, 0, 0);
          color: red;
          height: 25px;
          width: 25px;
          padding: 15px;
          padding-top: 30px;
          padding-bottom: 30px;
          transform: translatey(-20%);
        }
      }
    }
  }

  .selectedShow {
    border: 1px solid red;
  }
}
