.page__header {
  width: 100%;
  padding: 20px;
  text-align: center;
  border-bottom: 0.5px solid rgba(245, 245, 245, 0.63);

  h1 {
    margin: 10px;
    font-size: 2.5rem;
    color: white;
  }
  .navBar {
    text-align: center;
    padding-bottom: 20px;

    .titleInput {
      font-weight: normal;
      font-size: 14px;
      color: rgb(43, 43, 43);
      border: none;
      border-radius: 20px;
      min-height: 2rem;
      width: 200px;
      margin-right: 7px;
      padding-left: 10px;
    }

    .submitButton {
      background-color: $colorDefaultBg1;
      color: $colorDefaultLight1;
      border-radius: 20px;
      border: none;
      min-width: 70px;
      height: 25px; 
    }
  }
}
