$fontDefault : "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
"Lucida Sans", Arial, sans-serif;

$colorDefaultLight1: white;
$colorDefaultLight2: rgb(218, 218, 218);
$colorDefaultBg1:rgb(0, 132, 255);