$fontDefault :  'Sen', sans-serif;


$colorDefaultLight1: white;
$colorDefaultLight2: rgb(218, 218, 218);
$colorDefaultBg1:rgb(62, 173, 247);
$colorDefaultDark1: black;
$colorDefaultDark2: rgb(82, 75, 75);